<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cult fit</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
<style>
     body{
        font-family: 'Baloo Bhai 2', cursive;
        margin: 0px;
        padding: 0px;
        color: white;
        background: url('gym3.jpg');
        background-repeat: no-repeat;
        background-size: 100% 800px;
     }
     .left{
        /* border: 2px solid red; */
        display: inline-block;
        position: absolute;
        left: 34px;
        top: 20px;
     }
     .left img{
        filter: invert(100%);
        width: 30px;
        margin: 0px 20px;
     }
     .logoText{
        font-size: 15px;
        text-align: center;
        font-style: normal;
        line-height: 0px;
     }
     .mid{
        /* border: 2px solid rgb(0, 255, 47); */
        display: block;
        width: 36%;
        margin: 20px auto;
     }
     .right{
        /* border: 2px solid rgb(47, 0, 255);   */
        display: inline-block;
        position: absolute;
        right: 34px;
        top: 20px;
               
     }
     .navbar{
        display: inline-block;
     }
     .navbar li{
        display: inline-block;
        font-size: 17px;
     }
     .navbar li a{
        color: white;
        text-decoration: none;
        padding: 34px 23px;
     }
     .navbar li a:hover, .navbar li a.active{
        color: rgba(255, 0, 0, 0.927);
        text-decoration: underline;
     }
     .btn{
        margin: 0px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 14px;
        font-size: 14px;
        cursor: pointer;
        font-family: 'Baloo Bhai 2', cursive;
     }
     .btn:hover{
        background-color: rgb(36, 30, 30);
     }
     .container{
        border: 2px solid green;
        margin: 106px 80px;
        padding: 75px;
        width: 75%;
        border-radius: 28px;
     }
     .container h2{
        text-align: center;
        color: rgb(255, 255, 255);
     }
     .form-group input{
        font-family: 'Baloo Bhai 2', cursive ;
        text-align: center;
        display: block;
        width: 229px;
        padding: 2px;
        border: 2px solid black;
        margin: 4px auto;
        border-radius: 3px;
        font-size: 14px;
     }
     .chupbsdk{
        display: block;
        width: 23%;
        margin: auto;
        border: 2px solid grey;
        border-radius: 7px;
        font-size: 14px;
        cursor: pointer;
        font-family: 'Baloo Bhai 2', cursive;
        color: white;
        background-color: rgb(0, 0, 0);
     }
</style>
</head>

<body>
    <header class="header">

        <!-- left box for logo -->
        <div class="left">
            <img src="dumbell.png" alt="">
            <div class="logoText">cult fit</div>
        </div>

        <!-- mid box for nav bar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Fitness</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <!-- right box for buttons -->
        <div class="right">
            <button class="btn">
                Call us
            </button>
            <button class="btn">email us</button>
        </div>
    </header>
    <div class="container">
        <h2>Join the best gym of Delhi now</h2>
        <form action="noaction.php">
            <div class="form-group">
                <input type="text" name="" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Enter your name">
            </div>
            <button class="btn, chupbsdk">Submit</button>
        </form>
    </div>
</body>
</html>
