<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Flexbox</title>
   <style>
      .container{
         height: 500px;
         width: 100%;
         border: 2px solid black;
         /* Initialise the container as a flex box */
         display: flex;
         /* Flex properties for flex container */

         /* default flex-direction is row */
         flex-direction: row;
         /* flex-direction: column;
         flex-direction: column-reverse;
         flex-direction: row-reverse; */

         /* default flex-wrap is no wrap  */
         flex-wrap: nowrap;
         /* flex-wrap: wrap; */
         /* flex-wrap: wrap-reverse; */

         /* shorthand for flex-direction and flex-wrap */
         /* flex-flow: row wrap; */

         /* justify-content will justify the content in horizontal*/
         /* justify-content: center; */
         /* justify-content: space-between; */
         /* justify-content: space-evenly; */
         /* justify-content: space-around; */

         /* align-items will align the items in vertical*/
         /* align-items: center; */
         /* align-items: flex-end; */
         /* align-items: flex-start; */
         /* align-items: stretch; */
      }
      .items{
         background-color: tomato;
         border: 2px solid green;
         margin: 10px;
         padding: 3px;
         width: 100px;
         height: 100px; 
      }
      #items-1{
         /* flex property for a flex item  */

         /* higher the order, later in the list it will be shown */
         /* order: 2; */

         /* flex-grow: 2; */
         /* flex-shrink: 5; */
      }
      #items-2{
         /* flex-grow: 3; */
         /* flex-shrink: 1; */
         flex-basis: 70px;
         /* when flex-direction is set to row, flex-basis will contro width*/
         /* when flex-direction is set to column, flex-basis will contro height*/
      }
      #items-3{
         /* order: 30; */

         /* shorthand for flex-grow flex-shrink and flex-basis */
         flex: 2 2 140px;

         align-self: flex-start;
         align-self: flex-end;
         align-self:center ;
      }
   </style>
</head>
<body>
   <h2>This is flexbox tutorial</h2>
   <div class="container">
      <div class="items" id="items-1">First box</div>
      <div class="items" id="items-2">Second box</div>
      <div class="items" id="items-3">Third box</div>
      <!-- <div class="items" id="items-4">Fourth box</div>
      <div class="items" id="items-5">Fifth box</div>
      <div class="items" id="items-6">Sixth box</div> -->
   </div>
</body>
</html>
