<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS grid</title>
    <style>
        .container{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(4,1fr);
            /* grid-row-gap: 1rem;
            grid-column-gap: 4rem; */
            grid-gap: 1rem;
        }
        .box{
            background-color: rgb(243, 188, 243);
            border: 2px solid black;
            padding: 10px;
        }
        .box:first-child{
            /* grid-column-start: 1;
            grid-column-end: 3; */
            /* (Shorthand) */
            grid-column: 1/span 2;
            /* grid-row-start: 1;
            grid-row-end: 3; */
            /* (Shorthand) */
            grid-row: 1/span 2;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="box">This is box-1</div>
        <div class="box">This is box-2</div>
        <div class="box">This is box-3</div>
        <div class="box">This is box-4</div>
        <div class="box">This is box-5</div>
        <div class="box">This is box-6</div>
        <div class="box">This is box-7</div>
        <div class="box">This is box-8</div>
        <div class="box">This is box-9</div>
        <div class="box">This is box-10</div>
        <div class="box">This is box-11</div>
        <div class="box">This is box-12</div>
        <div class="box">This is box-13</div>
        <div class="box">This is box-14</div>
        <div class="box">This is box-15</div>
    </div>
</body>
</html>
